.git
.gitignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
*.Renviron
.env
00_Data/*
!00_Data/02_CdS/
!00_Data/02_CdS/**
!00_Data/03_Documenti/
!00_Data/03_Documenti/**
02_Output
.rscignore
*.Rproj
01_Code/00_Schedueled_Refresh.R
01_Code/06_Run_Dashboard.R